.App {
  text-align: center;
  font-family: "Varela Round", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageContainer {
  position: relative;
  min-height: 100vh;
  /* background-color: rgb(46, 69, 201); */
  background-image: linear-gradient(65deg, rgb(46, 201, 154), rgb(46, 69, 201));
}

.contentWrap {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.detail-container {
  border: 4px solid white;
  border-radius: 20px;
  background-color: rgb(64, 80, 97, 0.5);
  padding-bottom: 10px;
  margin-top: 10px;
}

.closeBtn {
  margin-left: 98%;
  color: white;
}
.about-container{
  width: 60%;
  height: 30%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  color: white;
  padding-bottom: 10px;
  
}

.home-container {
  width: 60%;
  height: 30%;
  margin: auto;
  margin-bottom: 20px;
  border: white solid 3px;
  border-radius: 10px;
  background-color: rgb(49, 44, 44, 0.7);
  margin-top: 30px;
  color: white;
  padding-bottom: 30px;
}

.hoursContainer {
  color: white;
  border: 2px white solid;
  border-radius: 15px;
  width: fit-content;
  margin: auto;
}

.input-container{
  width: 25%;
  margin: 10px auto;
  border-radius: 15px;
  background-color: rgb(49, 44, 44, 0.7);
  border: 2px white solid;

}
