.homeCarousel{
    border: rgb(255, 255, 255) solid 2px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    
}

.placeNames{
    background-color: rgb(43, 41, 41);
    opacity: 70%;
    border-radius: 10px;
    border:white solid 1px;
}

img{
    border-radius: 10px;
}