.home-container{
    width: 60%;
    height: 30%;
    margin: auto;
    border: white solid 3px;
    border-radius: 10px;
    background-color: rgb(49, 44, 44, 0.7);
    margin-top: 30px;
    color: white;
    padding-bottom: 10px;
}